/*
.ui-inputfield {
	padding: 4px !important;
}

input[type="text"] {
	width:100%;
}

.ui-widget{
    font-family:Arial,sans-serif;font-size: 90% !important;
}
*/
.top-menu a.ui-widget {
	font-size: 42px;
}

.top-submenu a.ui-widget {
	font-size: 18px;
}

.ui-overlaypanel {
	width:90%; 
	/*margin:auto;*/
    top: 102px !important;
    left: auto !important;
    right: 10px !important;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}