<h1 class="titre">Mes échéances</h1>

<p-toolbar styleClass="p-mb-4">
	<ng-template pTemplate="left">
		<p-button label="Tout renouveler" (onClick)="renouveler()"  styleClass="btn-renouveler-abo"></p-button>
		<!-- icon="pi pi-check" -->
	</ng-template>

	<ng-template pTemplate="right">
		<p-button pRipple title="Modifier la sélection" (onClick)="modifier()" icon="pi pi-cog"></p-button>
	</ng-template>
</p-toolbar>

<p-table [value]="echeances" selectionMode="multiple"
	[(selection)]="selectedEcheances" dataKey="codeArticle" 
	emptymessage="Aucunne échéance en cours"
	sortField="dateEcheance" [sortOrder]="-1"> 
	
	<ng-template pTemplate="header">
		<tr>
			<th style="width: 3rem">
				<p-tableHeaderCheckbox [disabled]="!modificationSelectionEcheance"></p-tableHeaderCheckbox>
			</th>
			<th pSortableColumn="codeArticle">Code article<p-sortIcon field="codeArticle"></p-sortIcon></th>
			<th>Libellé</th>
			<th>Début période</th>
			<th>Fin période</th>
			<th pSortableColumn="dateEcheance">Echéance<p-sortIcon field="dateEcheance"></p-sortIcon></th>
			<th>Montant TTC</th>
			<!--
			<th>Etat</th>
			<th>Action</th>
			-->
		</tr>
	</ng-template> 
	
	<ng-template pTemplate="body" let-ech>
		<tr>
		<!--<tr [pSelectableRow]="ech">-->

			<td>
				<p-tableCheckbox [value]="ech" [disabled]="!modificationSelectionEcheance"></p-tableCheckbox>
			</td>
			<td class="center">{{ech.codeArticle}}</td>
			<td class="center">{{ech.libLDocument}}</td>
			<td class="center">{{ech.debutPeriode | date:'dd/MM/yyyy'}}</td>
			<td class="center">{{ech.finPeriode | date:'dd/MM/yyyy'}}</td>
			<td class="center">{{ech.dateEcheance | date:'dd/MM/yyyy'}}</td>
			
			<td class="center">{{ech.mtTtcLDocument}} €</td>
			<!--
			<td class="center">{{ech.codeEtat}}</td>

			<td class="center">
 				<div *ngIf="telechargementAutorise(ech) ; else non_bloque">
 					<a routerLink='/mes-avis-echeance' routerLinkActive="active">Payer</a>
 				</div>
				
				<ng-template #non_bloque>
				 <p-progressSpinner *ngIf="ech.isDisabled"></p-progressSpinner>
				 <p-progressBar *ngIf="ech.isDisabled" [value]="ech.percentDone"></p-progressBar>
				</ng-template>
			</td>
			-->
		</tr>
	</ng-template> 
	
</p-table>


<div *ngIf="loading" style="margin: auto; text-align: center;"><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></div>

<hr/>
<hr/>

<h3 class="titre" style="margin: auto; text-align: center;">Mes avis d'échéances</h3>
<p style="margin: auto; text-align: center;">La mise a disposition d'avis d'échéance n'est pas automatique.<br/>Il est donc possible que cette section soit vide et ne contienne aucun avis.</p>

<p-table [value]="avisEcheances" selectionMode="single"
	[(selection)]="selectedAvisEcheance" dataKey="codeDocument"
	(onRowSelect)="onRowSelect($event)"
	(onRowUnselect)="onRowUnselect($event)"
	emptymessage="Aucun avis d'échéance trouvé"
	sortField="dateDocument" [sortOrder]="-1"> 
	
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="codeDocument">Code<p-sortIcon field="codeDocument"></p-sortIcon></th>
			<th>Libellé</th>
			<th pSortableColumn="dateDocument">Date<p-sortIcon field="dateDocument"></p-sortIcon></th>
			<th>HT</th>
			<th>TVA</th>
			<th>TTC</th>
<!-- 			<th>Solde</th> -->
			<th>Echéance</th>
	<!--		<th>Payer</th> -->
			<th>PDF</th>
		</tr>
	</ng-template> 
	
	<ng-template pTemplate="body" let-fact>
		<tr [pSelectableRow]="fact">
			<td class="center">{{fact.codeDocument}}</td>
			<td>{{fact.libelleDocument}}</td>
			<td class="center">{{fact.dateDocument | date:'dd/MM/yyyy'}}</td>
			<td class="right">{{fact.netHtCalc}} €</td>
			<td class="right">{{fact.netTvaCalc}} €</td>
			<td class="right">{{fact.netTtcCalc}} €</td>
<!-- 			<td>{{fact.resteAReglerComplet}} €</td> -->
			<td class="center">{{fact.dateEchDocument | date:'dd/MM/yyyy'}}</td>
			<!--
			<td class="center">
				  <p-button label="Payer" (onClick)="handleClick($event, fact)" *ngIf="paiementPossible"></p-button>
			</td>
			-->
			<td class="center">
				<p-button label="PDF" (onClick)="handleClick2($event, fact)"></p-button>
			</td>
		</tr>
	</ng-template> 
	
</p-table>

<div *ngIf="loading" style="margin: auto; text-align: center;"><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
