<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.legrain.bdg.client.preferences.ServeurPreferencePage"
            id="fr.legrain.bdg.client.preferences.ServeurPreferencePage"
            name="Serveur">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.bdg.client.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
