/* You can add global styles to this file, and also import other style files */
.center {
		text-align: center;
	}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

h1.titre {
	font-family: 'Open Sans', sans-serif; 
	color: #0995ef; 
	text-align: center;
}


/******************BOUTIQUE**********************/


.btn-renouveler-abo {
	color: white !important;
	background-color: #67c134 !important;
	border-color: #67c134 !important;
}


.boutique-article-resume,
.boutique-article-description  {
	color:#9F9F9F;
}

.boutique-categorie-titre {
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: #707071;
	font-size: 30px;
    margin-left: 16px;
}

.boutique .p-carousel-container {
	height: 259px;
}

.boutique .p-carousel-items-content {
	margin: auto;
}

.boutique-petite-image {
	height: 31px;
	width: 44px;
}

.boutique-moyenne-image {
	height: 81px;
	width: 113px;
}

.boutique-grande-image {
	height: 259px;
	width: 361px;
}

.boutique-image-article {
	display: flex; 
	align-items: center; 
	margin: 0 auto;
}

.boutique-image-article-carousel {
	display: flex;
    align-items: center;
    margin: 0 auto;
}

.boutique-nom-article-catalogue {
	color: black; 
	font-weight: bold;
}

.boutique-prix-article-catalogue {
	font-size: 1.5em;
	align-self: flex-end;
}

.boutique-prix-article{
	font-size: 1.5em;
}

.boutique-liste-article {
	display: flex; 
	align-items: center;
	padding: 1em;
}
.boutique-liste-article-detail { 
	flex: 1 1 0;
}
                                
.boutique-liste-article-action {
	display: flex; flex-direction: column;
}

.boutique-grille-article {}
.boutique-grille-article-top {}

.boutique-grille-article-content { 
	text-align: center;
}

.boutique-grille-article-bottom { 
	display: flex;
	justify-content: space-between;
}
