:host >>> .custom-carousel{
	padding-top: 200px;
}
:host >>> .ui-carousel.custom-carousel .ui-carousel-dots-container {
      visibility: hidden;
    }
.rond{
	padding-right: 54px;
	padding-left: 10px;  
}

.lgr-dasboard-badge{
    position: relative;
    right: 40px;
    top: -161px;
    background-color: #e0284f;
    color: #ffffff;
    text-align: center;
    line-height: 18px;
    min-width: 16px;
    min-height: 16px;
    display: inline;
    font-size: 16px;
    padding-left: 5px;
    text-align: center;
    border-radius: 100%;
    padding-right: 5px;
}