<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.legrain.document.etat.devis.echeance"
            class="fr.legrain.document.etat.boncde.preferences.EcheanceBoncdePreferencePage"
            id="fr.legrain.document.etat.boncde.preferences.EcheanceBoncdePreferencePage"
            name="Bon de commande">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.document.etat.boncde.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="fr.legrain.document.etat.devis.editorPageEtatDocument">
      <editor
            editorClass="fr.legrain.document.etat.boncde.ecrans.PaFormPageBoncde"
            editorController="fr.legrain.document.etat.boncde.controllers.FormPageControllerBoncde"
            editorIcon="icons/logo_lgr_16.png"
            editorLabel="Bond de commande">
      </editor>
   </extension>

</plugin>
