<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="print">
         <resource-mapping
               path="/">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/PDFPrint"
            class="fr.legrain.silentPdfPrint.PrintServlet"
            httpcontextId="print"
            load-on-startup="true">
      </servlet>
   </extension>
</plugin>
