/*
.ui-inputfield {
	padding: 4px !important;
}

input[type="text"] {
	width:100%;
}

.ui-widget{
    font-family:Arial,sans-serif;font-size: 90% !important;
}
*/
.top-menu a.ui-widget {
	font-size: 42px;
}

.top-submenu a.ui-widget {
	font-size: 18px;
}

.ui-overlaypanel {
	width:90%; 
	/*margin:auto;*/
    top: 102px !important;
    left: auto !important;
    right: 10px !important;
}

.ui-overlaypanel {
	width:90%; 
	/*margin:auto;*/
    top: 102px !important;
    left: auto !important;
    right: 10px !important;
}
/*
.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 0.2em 1em .0em;
	border: 1px solid #b9d268;
	background: #b9d268;
}
*/
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-dropdown.ui-button {
	top: 0px;
}

.ui-menuitem.ui-widget.ui-corner-all.menuitem-droit{
	float : right;
}
