
.ui-layout-north {
        z-index:20 !important;
        overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
        overflow:visible !important;
}

div#loginDiv {
    width: 416px;
    margin : auto;
}

div#loginDiv img{
    margin-top:100px
}
    
#logo, #logo_template {
    background: url("#{resource['images:logo.png']}") no-repeat scroll left center rgba(0, 0, 0, 0); 
}

#logo {
    border: 0 none;
    border-top-left-radius: 4px;
    height: 24px;
    padding: 5px 0 0 15px;
    width: 224px;
}



#logo, #logo a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    width: 99%;
    color: #D64141;
    text-shadow: 0 -1px 0 #999999;
}


    

