.login-body .login-content .login-panel .login-panel-content .logo img {
	width: 100%;
}
/*
.ui-widget-content {
	border:none !important; 	
}
*/

/** TEST NOUVELLES COULEURS **/



/** FIN TEST COULEURS **/

/******************************************************************************* */
/*nouveau theme primefaces mirage */
body .ui-menu .ui-menu-list .ui-menuitem.ui-corner-all.ui-menu-parent .ui-menuitem-link.ui-submenu-link.ui-corner-all {
	padding: unset;
	padding-right: 10px;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-corner-all.ui-menu-parent .ui-menuitem-link.ui-submenu-link.ui-corner-all span.ui-icon.ui-icon-triangle-1-s {
	display: none;
}

.layout-sidebar .sidebar-logo span.app-name {
	font-size: small;
}

/*
tbody.ui-widget-content,
tbody .ui-widget-content {
	border : unset !important;
}
*/

.dashboard .box,
.card.card-dash {
	text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-tabs-selected.tab, .ui-tabs .ui-tabs-nav .tab {
	padding: 0px 0 0px 30px;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .buttons button.secondary-button.lien-mot-de-passe-oublie-page-login span {
	color: #5e81ac;
}
/******************************************************************************* */




  