/*
.ui-widget-content {
	border:none;	
}
*/

/** TEST NOUVELLES COULEURS **/
.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	background: #95c02f;
}

.ui-tabs.ui-tabs-top.ui-tabs-nav.ui-widget-header.ui-state-default.ui-tabs-selected {
	background: #95c02f;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected {
	background: #95c02f;
}
.ui-button.ui-state-default {
	background: #95c02f;
}
#sidebar-header {
		background: #95c02f;
}

/** FIN TEST COULEURS **/

body .ui-datatable .ui-datatable-data tr td {
	border-color:#e7e7e7;
}

  