<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.stocks.handlers.HandlerStocks"
            description="s"
            id="fr.legrain.stocks.editor.EditorStocks"
            name="Stocks">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.legrain.stocks.editor.EditorStocks"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="CTRL+9">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.stocks.calculReport"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+C">
      </key>
      <key
            commandId="fr.legrain.stocks.editor.EditorEtatStocks"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+E">
      </key>
      <key
            commandId="fr.legrain.stocks.editor.EditorEtatStocksReport"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.stocks.editor.StocksMultiPageEditor"
            icon="icons/brick_add.png"
            id="fr.legrain.editor.stocks.multi"
            name="Stocks">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:">
         <command
               commandId="fr.legrain.stocks.editor.EditorStocks"
               icon="icons/brick_add.png"
               label="Gestion des stocks">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:Articles">
         <separator
               name="Stocks.separator1"
               visible="true">
         </separator>
         <command
               commandId="fr.legrain.stocks.editor.EditorStocks"
               icon="icons/brick_add.png"
               label="Gestion des stocks">
         </command>
         <separator
               name="Stocks.separator2">
         </separator>
      </menuContribution>
   </extension>
</plugin>
