.ui-layout-north {
        z-index:20 !important;
        overflow:visible !important;
    }

    .ui-layout-north .ui-layout-unit-content {
        overflow:visible !important;
    }
    
    
div#loginDiv {
	/*centrer le div de login*/
    width: 416px;
    margin : auto;

}

div#loginDiv img{
    margin-top:100px
}
    
#logo, #logo_template {
    /*background: url("#{resource['images/logo.png']}") no-repeat scroll left center rgba(0, 0, 0, 0);*/  
    background: url("#{resource['images:logo.png']}") no-repeat scroll left center rgba(0, 0, 0, 0); 
}

#logo {
    border: 0 none;
    border-top-left-radius: 4px;
    height: 24px;
    padding: 5px 0 0 15px;
    width: 224px;
}



#logo, #logo a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    width: 99%;
    color: #D64141;
    text-shadow: 0 -1px 0 #999999;
}

.ui-layout-north {
        z-index:20 !important;
        overflow:visible !important;
    }

    .ui-layout-north .ui-layout-unit-content {
        overflow:visible !important;
    }
    
    
  /* style Pierre*/ 
  
   /*
   .bandeau 
	{
	background-color: #f8f8f8;
	border-bottom: 1px solid #0063dc;
	margin: 0px;
	padding: 0px;
	margin-bottom: 2px;
	}
.bandeau h1:first-letter 
	{
		color : #FF0084; 
		font-size: 2em;
		 font: Verdana;
     	margin: 0px;
	}
.bandeau h1 span
	{
		display: block;
		font-size: .5em;
		font-weight: normal;
		margin: 0px;
		padding: 0px;
	}
.labelRight,.text-right
	{
		text-align: right;
		
	}
.inline-block
	{
		display:inline-block;
	}
.PanelG tfoot tr td{
		text-align: right;
	}
	*/
