<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Base RCP with Source" sequenceNumber="6">
<locations>
<location id="org.eclipse.rcp.source" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<includeBundles>
<plugin id="org.apache.batik.bridge"/>
<plugin id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.css" version="1.6.0.v201011041432"/>
<plugin id="org.apache.batik.css.source"/>
<plugin id="org.apache.batik.dom"/>
<plugin id="org.apache.batik.dom.svg"/>
<plugin id="org.apache.batik.ext.awt"/>
<plugin id="org.apache.batik.parser"/>
<plugin id="org.apache.batik.pdf"/>
<plugin id="org.apache.batik.svggen"/>
<plugin id="org.apache.batik.transcoder"/>
<plugin id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.util" version="1.6.0.v201011041432"/>
<plugin id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<plugin id="org.apache.batik.util.gui" version="1.6.0.v201011041432"/>
<plugin id="org.apache.batik.util.gui.source"/>
<plugin id="org.apache.batik.util.source"/>
<plugin id="org.apache.batik.xml"/>
<plugin id="org.eclipse.help" version="3.7.0.v20160602-1307"/>
<plugin id="org.eclipse.help.source" version="3.7.0.v20160602-1307"/>
<plugin id="org.eclipse.help.source" version="3.7.0.v20160602-1307"/>
<plugin id="org.eclipse.rcp" version="4.6.2.v20161124-1400"/>
<plugin id="org.eclipse.ui" version="3.108.1.v20160929-1045"/>
<plugin id="org.eclipse.ui.source" version="3.108.1.v20160929-1045"/>
<plugin id="org.eclipse.ui.source" version="3.108.1.v20160929-1045"/>
<plugin id="org.eclipse.ui.workbench" version="3.108.2.v20161025-2029"/>
<plugin id="org.eclipse.ui.workbench.source" version="3.108.2.v20161025-2029"/>
<plugin id="org.eclipse.ui.workbench.source" version="3.108.2.v20161025-2029"/>
<plugin id="org.eclipse.update.configurator" version="3.3.400.v20160506-0750"/>
<plugin id="org.eclipse.update.configurator.source" version="3.3.400.v20160506-0750"/>
<plugin id="org.eclipse.update.configurator.source" version="3.3.400.v20160506-0750"/>
</includeBundles>
</target>
