<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.publipostagetiers.handlers.HandlerPublipostage"
            description="Publipostage"
            id="fr.legrain.publipostagetiers.editor.EditorCriterePublipostage"
            name="Publipostage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:gestion">
         <command
               commandId="fr.legrain.publipostagetiers.editor.EditorCriterePublipostage"
               icon="icons/logo_lgr_16.png"
               label="Publipostage"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.publipostagetiers.editors.PublipostageMultiPageEditor"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.publipostage.multi"
            name="Publipostage">
      </editor>
   </extension>

</plugin>
