<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.etats.handlers.HandlerEtat"
            description="Etats"
            id="fr.legrain.etats"
            name="Etats">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.etats.editors.FormEditorEtat"
            default="false"
            icon="icons/report.png"
            id="fr.legrain.etats.editors.FormEditorEtat"
            name="Etats">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:gestion">
         <command
               commandId="fr.legrain.etats"
               icon="icons/report.png"
               label="Etat"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.etats">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar.etats">
         <command
               commandId="fr.legrain.etats"
               icon="icons/report.png"
               label="Etats"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.legrain.etats.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>

</plugin>
