<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.devis.editor.DevisMultiPageEditor"
            icon="icons/calculator_edit.png"
            id="fr.legrain.editor.devis.swt.multi"
            name="Devis">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.devis.handlers.HandlerOuvreEditorDevis"
            description="Nouveau Devis"
            id="fr.legrain.devis"
            name="Nouveau Devis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:documents?after=separator.facture">
         <command
               commandId="fr.legrain.devis"
               icon="icons/calculator_edit.png"
               id="fr.legrain.devis"
               label="Devis">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar.facture">
         <toolbar
               id="toolbar.devis">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:toolbar.devis">
         <command
               commandId="fr.legrain.devis"
               icon="icons/calculator_edit.png"
               label="Devis">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.devis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.legrain.document.preferences.DocumentPreferencePage"
            class="fr.legrain.devis.preferences.LgrDevisPreferencePage"
            id="fr.legrain.devis.preferences.LgrDevisPreferencePage"
            name="Devis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="GestionCommerciale.introConfigId"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="GestionCommerciale.ImpressionDocument">
      <impressionDocument
            ClassImpressionDocument="fr.legrain.devis.divers.Impression"
            TypeDoc="Devis">
      </impressionDocument>
   </extension>
   <extension
         point="GestionCommerciale.Preferences">
      <Preferences
            ClassPreferences="fr.legrain.devis.preferences.PreferencesStore">
      </Preferences>
   </extension>
</plugin>
