<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="editorPageTiers" name="MultipageEditor page" schema="schema/editorPageTiers.exsd"/>
   <extension-point id="editorPageFamilleTiers" name="ExtensionFamilleTiers" schema="schema/editorPageFamilleTiers.exsd"/>



   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="GestionCommerciale.perspective">
         <view
               id="fr.legrain.tiers.views.ListeTiersView"
               ratio="0.5"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adresse"
            id="fr.legrain.gestionCommerciale.tiers.adresse"
            name="Adresse"/>
      <command
            description="Tel"
            id="fr.legrain.gestionCommerciale.tiers.telephone"
            name="Telephone"/>
      <command
            description="EMail"
            id="fr.legrain.gestionCommerciale.tiers.email"
            name="EMail"/>
      <command
            description="Web"
            id="fr.legrain.gestionCommerciale.tiers.web"
            name="Web"/>
      <command
            description="Compl"
            id="fr.legrain.gestionCommerciale.tiers.complement"
            name="Complement"/>
      <command
            description="Cond. paiement"
            id="fr.legrain.gestionCommerciale.tiers.condPaiement"
            name="Cond. paiement"/>
      <command
            description="Commercial"
            id="fr.legrain.gestionCommerciale.tiers.commercial"
            name="Commercial"/>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTiers"
            description="Tiers"
            id="fr.legrain.tiers.editor.tiers"
            name="Tiers">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeTiers"
            id="fr.legrain.tiers.editor.type.tiers"
            name="Type tiers">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeAdresse"
            id="fr.legrain.tiers.editor.type.adresse"
            name="Type adresse">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeCivilite"
            id="fr.legrain.tiers.editor..type.civilite"
            name="Type civilite">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeTelephone"
            id="fr.legrain.tiers.editor.type.telephone"
            name="Type telephone">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerBanque"
            id="fr.legrain.tiers.editor.banque"
            name="Banque">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerEntreprise"
            id="fr.legrain.tiers.editor.entreprise"
            name="Entreprise">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerCommercial"
            id="fr.legrain.tiers.editor.commercial"
            name="Commercial">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerComplement"
            id="fr.legrain.tiers.editor.complement"
            name="Complement">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeEntite"
            id="fr.legrain.tiers.editor.type.entite"
            name="Type Entite">
      </command>
           <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeBanque"
            id="fr.legrain.tiers.editor.type.banque"
            name="Type compte bancaire">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeWeb"
            id="fr.legrain.tiers.editor.type.web"
            name="Type Web">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeTarif"
            id="fr.legrain.tiers.editor.type.tarif"
            name="Type tarif">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeEmail"
            id="fr.legrain.tiers.editor.type.email"
            name="Type email">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeLiens"
            id="fr.legrain.tiers.editor.type.liens"
            name="Type Liens">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerConditionPaiement"
            id="fr.legrain.tiers.editor.cond.paiement"
            name="Cond Paiement">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerFamilleTiersMulti"
            id="fr.legrain.tiers.editor.EditorFamilleTiers.multi"
            name="Famille de tiers">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.web.openurl"
            name="Acceder au site">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.email.sendmail"
            name="Envoyer un email">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.adresse.geolocalisation"
            name="Géolocalisation">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.adresse.itineraire"
            name="Itinéraire">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerTypeNoteTiers"
            id="fr.legrain.tiers.editor.type.noteTiers"
            name="Type Note">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.liens.open"
            name="Ouvrir lien">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.liens.browse"
            name="Parcourir lien">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.publipostage"
            name="Publipostage tiers">
      </command>
      <command
            defaultHandler="fr.legrain.tiers.handlers.HandlerDocumentTiers"
            id="fr.legrain.tiers.editor.type.documenttiers"
            name="Document tiers">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.ouvrircourrier"
            name="Ouvrir les courriers">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.fichetiers.email"
            name="Email">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.fichetiers.sms"
            name="SMS">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.telephone.sendsms"
            name="Envoyer un SMS">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.fichetiers.email.documents"
            name="Email documents tiers">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.tiers.fichetiers.fax"
            name="Fax">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.adresse"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+A"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.telephone"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+T"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.email"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+M"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.web"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+W"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.complement"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+C"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.condPaiement"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+D"/>
      <key
            commandId="fr.legrain.gestionCommerciale.tiers.commercial"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+O"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.tiers.editor.EditorTiers"
            icon="icons/group.png"
            id="fr.legrain.tiers.editor.EditorTiers"
            name="Tiers">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorAdresse"
            icon="icons/book_open.png"
            id="fr.legrain.tiers.editor.EditorAdresse"
            name="Adresse">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorCommentaire"
            icon="icons/note.png"
            id="fr.legrain.tiers.editor.EditorCommentaire"
            name="Commentaire">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorConditionPaiement"
            icon="icons/creditcards.png"
            id="fr.legrain.tiers.editor.EditorConditionPaiement"
            name="Condition de paiement">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorEmail"
            icon="icons/email.png"
            id="fr.legrain.tiers.editor.EditorEmail"
            name="Email">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorWeb"
            icon="icons/world_link.png"
            id="fr.legrain.tiers.editor.EditorWeb"
            name="Web">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTelephone"
            icon="icons/phone.png"
            id="fr.legrain.tiers.editor.EditorTelephone"
            name="Telephone">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorBanque"
            icon="icons/money.png"
            id="fr.legrain.tiers.editor.EditorBanque"
            name="Banque">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorEntreprise"
            icon="icons/sitemap.png"
            id="fr.legrain.tiers.editor.EditorEntreprise"
            name="Entreprise">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeTelephone"
            icon="icons/phone.png"
            id="fr.legrain.tiers.editor.EditorTypeTelephone"
            name="Type Telephone">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeEntite"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeEntite"
            name="Type Entite">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeCivilite"
            icon="icons/vcard.png"
            id="fr.legrain.tiers.editor.EditorTypeCivilite"
            name="Type Civilite">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeAdresse"
            icon="icons/book_open.png"
            id="fr.legrain.tiers.editor.EditorTypeAdresse"
            name="Type Adresse">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeTiers"
            icon="icons/user.png"
            id="fr.legrain.tiers.editor.EditorTypeTiers"
            name="Type Tiers">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorCommercial"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorCommercial"
            name="Commercial">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorComplement"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorComplement"
            name="Complement">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.TiersMultiPageEditor"
            icon="icons/group.png"
            id="fr.legrain.editor.tiers.multi"
            name="Tiers Multi">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeBanque"
            icon="icons/book_open.png"
            id="fr.legrain.tiers.editor.EditorTypeBanque"
            name="Type compte bancaire">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeWeb"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeWeb"
            name="Type Web">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeTarif"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeTarif"
            name="Type Tarif">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeEmail"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeEmail"
            name="Type EMail">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeLiens"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeLiens"
            name="Type Liens">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorConditionPaiement"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorConditionPaiement"
            name="Cond Paiement">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorFamille"
            icon="icons/group.png"
            id="fr.legrain.tiers.editor.EditorFamille"
            name="Famille">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTypeNoteTiers"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeNoteTiers"
            name="Type Note">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorDocumentTiers"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorDocumentTiers"
            name="Document tiers">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.EditorTiersInfosEntreprise"
            default="false"
            icon="icons/group.png"
            id="fr.legrain.tiers.editor.EditorTiersInfosEntreprise"
            name="Tiers Infos Entreprise">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.TiersInfosEntrepriseMultiPageEditor"
            default="false"
            icon="icons/group.png"
            id="fr.legrain.editor.tiers.infosentreprise.multi"
            name="Tiers Multi Infos Entreprise">
      </editor>
      <editor
            class="fr.legrain.tiers.editor.FamilleTiersMultiPageEditor"
            icon="icons/group.png"
            id="fr.legrain.tiers.editor.EditorFamilleTiers.multi"
            name="Famille Tiers Multi">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:tiers">
         <command
               commandId="fr.legrain.tiers.editor.tiers"
               icon="icons/group.png"
               label="Tiers">
         </command>
         <separator
               name="Tiers.separator1"
               visible="true">
         </separator>
         <separator
               name="Tiers.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:param.tiers">
         <command
               commandId="fr.legrain.tiers.editor.type.telephone"
               icon="icons/phone.png"
               label="Type Telephone">
         </command>
         <command
               commandId="fr.legrain.tiers.editor..type.civilite"
               icon="icons/vcard.png"
               label="Type Civilite">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.adresse"
               icon="icons/book_open.png"
               label="Type Adresse">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.entite"
               icon="icons/logo_lgr_16.png"
               label="Type Entite">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.tiers"
               icon="icons/user.png"
               label="Type Tiers">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.banque"
               icon="icons/book_open.png"
               label="Type compte bancaire">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.web"
               icon="icons/world_link.png"
               label="Type Web">
         </command>
          <command
               commandId="fr.legrain.tiers.editor.type.tarif"
               icon="icons/logo_lgr_16.png"
               label="Type Tarif">
         </command>
         <command
               commandId="fr.legrain.tiers.editor.type.email"
               icon="icons/email.png"
               label="Type EMail">
         </command>
          <command
                commandId="fr.legrain.tiers.editor.type.liens"
                icon="icons/logo_lgr_16.png"
                label="Type Liens">
          </command>
          <command
                commandId="fr.legrain.tiers.editor.cond.paiement"
                icon="icons/creditcards.png"
                label="Cond Paiement">
          </command>
          <command
                commandId="fr.legrain.tiers.editor.EditorFamilleTiers.multi"
                icon="icons/group.png"
                label="Famille de tiers"
                style="push">
          </command>
          <command
                commandId="fr.legrain.tiers.editor.type.noteTiers"
                icon="icons/logo_lgr_16.png"
                label="Type Note"
                style="push">
          </command>
          <command
                commandId="fr.legrain.tiers.editor.type.documenttiers"
                icon="icons/logo_lgr_16.png"
                label="Document tiers"
                style="push">
          </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:types">
         <menu
               id="param.tiers"
               label="Tiers">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.tiers">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:toolbar.tiers">
         <command
               commandId="fr.legrain.tiers.editor.tiers"
               icon="icons/group.png"
               label="Tiers">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.legrain.tiers.views.ListeTiersView">
         <command
               commandId="fr.legrain.gestionCommerciale.inserer"
               icon="icons/views/add.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.supprimer"
               icon="icons/views/delete.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.refresh"
               icon="icons/views/arrow_refresh.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.aide"
               icon="icons/views/find.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.detail"
               icon="icons/views/magnifier.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.supportAbon"
               icon="icons/views/logo_lgr_16.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.comptePointBonus"
               icon="icons/views/logo_lgr_16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.legrain.tiers.views.ListeTiersView">
         <command
               commandId="fr.legrain.gestionCommerciale.inserer"
               icon="icons/views/add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.legrain.tiers.views.ListeTiersView">
         <command
               commandId="fr.legrain.gestionCommerciale.inserer"
               icon="icons/views/add.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.legrain.tiers.preferences.TiersPreferencePage"
            id="fr.legrain.tiers.preferences.SamplePreferencePage"
            name="Tiers">
      </page>
      <page
            class="fr.legrain.tiers.preferences.ConservationDocumentPreferencePage"
            id="fr.legrain.tiers.preferences.ConservationDocumentPreferencePage"
            name="Conservation des documents">
      </page>
      <page
            category="fr.legrain.tiers.preferences.SamplePreferencePage"
            class="fr.legrain.tiers.preferences.CorrespondanceTiersPreferencePage"
            id="fr.legrain.tiers.preferences.tiers.correspondance"
            name="Correspondance">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.tiers.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Tiers"
            name="Tiers">
      </category>
      <view
            allowMultiple="false"
            category="Tiers"
            class="fr.legrain.tiers.views.ListeTiersView"
            icon="icons/group.png"
            id="fr.legrain.tiers.views.ListeTiersView"
            name="Liste des tiers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.legrain.tiers.views.ResourcePropertyTester"
            id="fr.legrain.tiers.views.property"
            namespace="org.demo"
            properties="matchesPattern"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewSupprimer"
            commandId="fr.legrain.gestionCommerciale.supprimer">
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewAide"
            commandId="fr.legrain.gestionCommerciale.aide">
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewRefresh"
            commandId="fr.legrain.gestionCommerciale.refresh">
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewVoir"
            commandId="fr.legrain.gestionCommerciale.detail">
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewInserer"
            commandId="fr.legrain.gestionCommerciale.inserer">
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.tiers.views.HandlerListeTiersViewSelection"
            commandId="fr.legrain.gestionCommerciale.selection">
            <!--
         <activeWhen>
            <test
                  property="org.demo.matchesPattern">
            </test>
         </activeWhen>
         -->
          <activeWhen>
            <with
               variable="activePartId">
               <equals
                  value="fr.legrain.tiers.views.ListeTiersView">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
