
.ui-widget-content {
	border: none;
	*background: #B7D666;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-editor.ui-widget-content {
	border: 1px solid #9a9a9a;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

/*____________________________*/
.main-content {
    *height: 100%;
    background-color: #e0e5e8;
    padding: 5px !important;
} 
.affiche-utilisateur {
	font-size: 1.1rem;
	font-family: 'PT Sans Regular', sans-serif;
	font-style: italic;
	
}
.panel-login-utilisateur {
  background: #fff;
  text-align: center;
  width: 400px;
  float: left;
  *margin: auto; }
  
 .panel-creer-compte {
  background: #fff;
  text-align: center;
  width: 400px; }
  
  .centrer {
  width: 400px;
  margin: 0 auto; }
  
  .ui-growl {
  *display: flex;
  *position: fixed;
  *margin: auto;
  top: 40%;
  left: 40%;
  }
  
  .ui-growl-item-container {
  position: absolute;
  *display: flex;
  *margin: 100% 600px 10px -600px;
  
  }
  #mon-alerte {
  position: absolute;
  display: flex;
  margin: 100% 600px 10px -600px;
  }
  .affiche-frs-activer {
  background: #cad789!important;
  *cursor: none;
  }
  
/*______________________________________________________________________________________ */
 
/* page entrée, page création compte, mot de passe oublier, mot de passe validation */

.j_nom,.j_prenom,.j_username,.j_password,.j_confirmpassword {
	width:100%;
	padding: 1%;
	font-family: 'PT Sans', sans-serif;
	color: #000000!important;
	font-size:1.3em;
	box-sizing: border-box;
}
.j_username_mdp_oublier {
	width:102.5%;
	margin-left: -1%;
	font-family: 'PT Sans', sans-serif;
	background: #fff!important;
	color: #000000!important;
	font-size:1.3em;
	box-sizing: border-box;
}

.btn_creer {
	margin-bottom: 15%;
	width:100%;
	padding: .2em;
	color: #818080 !important;
	font-family: 'PT Sans Regular', sans-serif;					
	font-size: 2.2em;							
	background: #fff!important;
	border: none;
	cursor: pointer;
							
}
.btn_creer:hover {
	color: #fff!important;
	background: #ffd736!important;
}
.titre_formulaire {
	font-family: 'PT Sans Regular', sans-serif;
	color: #818080 !important;
	font-size: 2.2em;
	text-align: center;
	padding: 0.2em;							
	*background: #fff!important;
}
.titre_formulaire_mdp_oublier {
	margin: 0%;
	*width:100%;
	font-family: 'PT Sans Regular', sans-serif ! important;
	color: #818080 !important;
	font-size: 2em;
	text-align: center;
	*background-color: #fff ! important;	
	background:none;
}
.mini-label {
	font-family: 'PT Sans Regular', sans-serif;
	color: #4a4a4a !important;
	font-size: 1em;
	text-align: left;
	margin-bottom: 10px;							
	*background: #fff!important;
}
.mini-label-font {
	font-size: 2em;
}
.ui-panel .ui-panel-titlebar {
	font-size: 1em;
	font-family: 'PT Sans Regular', sans-serif ! important;
}
.ui-panel-titlebar {
	background-color: #fff ! important;
	color: #818080 !important;
	
} 
.label-formulaire {
	padding-top:3%;
	opacity: 0.6;
}
.label-formulaire:hover {
	padding-top:3%;
	opacity: 0.8;
}
.label-formulaire-validation {
	width: 102.5%;
	margin-left: -1%;
	margin-top: 3%;
	padding-top:2%;
	padding-bottom: 1%;
	text-align: left;
	background: #fff!important;
	opacity: 0.8;
	
}
.label_mdp_validation {
	margin-left: 40px;
	font-family: 'PT Sans', sans-serif ! important;
	color: #000000!important;
	font-size:1.3em;
	box-sizing: border-box;
}
.btn_login {
	margin-top: 4%;
	padding: 5px;
	width:33%;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background: #4a4a4a!important;
	border-bottom: none ! important;
	float: left;
}
.btn_login:hover {
	background: #ffd736!important;
}
.btn_mdp_oublier {
	margin-top: 4%;
	margin-left: 13%;
	margin-right: 8%;
	padding: 5px;
	width:33%;
	font-family: 'PT Sans', sans-serif;
	color: #fff !important;
	background: #4a4a4a !important;
	opacity: 0.6;
	border-bottom: none ! important;
	float: left;
}
.btn_mdp_oublier:hover {
	opacity: 1;
}
.btn_retour {
	margin-top: 4%;
	padding: 5px;
	margin-left: 13%;
	margin-right: 8%;
	width:33%;
	font-family: 'PT Sans', sans-serif;
	color: #fff !important;
	background: #4a4a4a !important;
	opacity: 0.6;
	border-bottom: none ! important;
	float: left;
}
.btn_retour:hover {
	opacity: 1;
}
.btn_retour_mdp_oublier {
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 8%;
	width:33%;
	font-family: 'PT Sans', sans-serif;
	color: #fff !important;
	background: #4a4a4a !important;
	opacity: 0.6;
	border-bottom: none ! important;
	float: left;
}
.btn_retour_mdp_oublier:hover {
	opacity: 1;
}
.btn_login_mdp_oublier {
	margin-top: 3%;
	*padding: 5px;
	width:50%;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background: #4a4a4a!important;
	border-bottom: none ! important;
	float: left;
}
.btn_login_mdp_oublier:hover {
	background: #ffd736!important;
}

.ui-g-12-centrer {
	position:absolute;
	width: 40%;
	top:20%;
	left: 30%;
	box-sizing: border-box;
}
.footer_login {
	bottom: 24px;
	*left: 5px;
	position: absolute;
	font-family: 'PT Sans', sans-serif;
	font-size: 28px;
	font-weight: 100;
	background: #4a4a4a;	         
	width: 100%; 
	text-align: center;
	color: #fff;
	bottom: 26px;	
}
.footer_right {
	position: fixed;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	bottom: 35px;
	right: 50px
}
.footer_combo {
	bottom: 31px;
	left: 50px;
	position: absolute;
	z-index: 1;
	
}
.layout_combo {	
	left: 10px;	
	z-index: 1000;
}
.combo_langue {
    width: 85%;
}

#image_bdg {
	position: absolute;
	bottom: 80px;
	*display: block;
    left: 44.5%;
    *right: 50%;
    *margin-left: auto;
    *margin-right: auto    
}
 #image_de_fond {
position: fixed;
*top:0%; height:100%;
*left:0; width:100%;
 background-size:cover;
    margin:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
} 

/*------------------------------------------------------------------------------*/

/* Page tableau de bord / mes fournisseurs / ajout fournisseur*/

.container_onglet_menu_tb_fournisseurs {
	width: 32%;
	height: 260px;
	margin-top:20px;
	margin-left: 1%;
	background: #409cdc;
	display: flex;
	cursor:pointer;
}
.container_onglet_menu_fournisseurs {
	width: 32%;
	height: auto;
	margin-top:20px;
	margin-left: 1%;
	background: #409cdc;
	display: flex;
	cursor:pointer;
}
.container_onglet_menu_tb_fournisseurs:hover,.container_onglet_menu_fournisseurs:hover,
.container_onglet_menu_tb_documents:hover,.container_onglet_menu_documents:hover,
.container_onglet_menu_tb_informations:hover,.container_onglet_menu_informations:hover {
	
	opacity:0.6;
}
.picto-tb-fournisseurs, .picto-tb-documents, .picto-tb-informations {
	
	position: relative;
	margin: auto;
	*margin-top: 25%;
	margin-left: 10%;
}
.picto-fournisseurs, .picto-documents, .picto-informations {
	width:20%;
	height:80%;
	position: relative;
	margin: auto;
	*margin-top: 4%;
	*margin-left: 10%;
}
.titre-tb-picto {
	display:block;
	position: relative;
	font-family: 'PT Sans Regular', sans-serif ! important;
	color: #fff;
	font-size: 1.8em;
	top: 3em;
	margin: auto;
	margin-left: 1em;
}
.titre-picto {
	display:block;
	position: relative;
	font-family: 'PT Sans Regular', sans-serif ! important;
	color: #fff;
	font-size: 1.6em;
	top: 0.5em;
	margin: auto;
	margin-left: 1em;
}
.texte-tb-picto {
	display:block;
	position: relative;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 1.4em;
	top: 4.3em;
	margin: auto;
	margin-left: 1em;	
}
.texte-picto {
	display:block;
	position: relative;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 1.2em;
	top: 0.8em;
	margin: auto;
	margin-left: 1em;
	margin-bottom: 10px;
}  
.container_onglet_menu_tb_documents {
	width: 32%;
	height:auto;
	margin-top:20px;
	margin-left: 1%;
	background: #f6bb4e;
	display: flex;
	cursor:pointer;
}
.container_onglet_menu_documents {
	width: 32%;
	height:auto;
	margin-top:20px;
	margin-left: 1%;
	background: #f6bb4e;
	display: flex;
	cursor:pointer;
}
.container_onglet_menu_tb_informations {
	width: 32%;
	height:auto;
	margin-top:20px;
	margin-left: 1%;
	background: #d2524f;
	display: flex;
}
.container_onglet_menu_informations {
	width: 32%;
	height:auto;
	margin-top:20px;
	margin-left: 1%;
	background: #d2524f;
	display: flex;
}
.info-page {
	font-family: 'PT Sans', sans-serif;
	color: #4a4a4a;
	text-align: center;
}
.info-texte {
	font-family: 'PT Sans', sans-serif;
	color: #4a4a4a;
	text-align: center;
	margin-top: -20px;
}
.ui-datatable thead th.ui-state-default {
    background-color: #e0e5e8;      
}
.ui-datatable .ui-datatable-header.ui-widget-header {
    background: #B7D666;
    border: none;
	border-bottom: 5px solid #7FA128;
    padding: 5px;
}
/*____________________________________________________ */
/* Page fournisseur */

#doc-consult-titre {
	font-size: 18px;
	font-weight: 500; 
	font-family: 'PT Sans', 'sans-serif' ! important; 
	color: #4a4a4a;
}
.code, .date-fact, .echeance {
	width:8%;
}
.ht, .tva, .ttc, .avoir, .solde {
	width:6%;
}
.acompte {
	width:6.5%;
}
.payer, .pdf {
	width:3%;
}
/*_____________________________________________________*/
/* Page mes fournisseurs */

.dialog-pmf {
	background: #fff;
	width: 500px;
}
.vosDoc {
	margin-left: 0px; 
	width:40%; 
	align: center;
}
/*_____________________________________________________*/
/* Page info-entreprise */

.nomFrs {
	font-size:1.5rem;
	font-weight: 600;
	display: block; 
	text-align: center; 
	margin-top: -1em; 
	margin-bottom: 20px;
}
.logoClient {
	width: 40px; 
	height: 40px; 
	margin-bottom: 10px;
}
.titre1 {
	text-align: left; 
	margin-left: 90px ! important; 
	*font-size: 1em ! important;
	
	display: block;
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 1.4em;
	
}
.titre2 {
	margin-left: 90px ! important; 
	margin-top: 30px ! important;
	font-size: 0.9em ! important;
}
.titre3 {
	margin-left: 90px ! important; 
	margin-top: 30px ! important;
	font-size: 0.9em ! important;
}
.quitter {
	margin-top:0px; 
	width: 20% ! important;
	margin-left: 78px;
	float: left;
}
.connection {
	margin-top:0px; 
	width: 20% ! important;
	margin-left: 305px; 
	background: #f96808 ! important; 
	border-bottom: 5px solid #fc8608 ! important;
}
.connection:hover {
	opacity: 6 ! important;
}
.container-info-entreprise-info {
/*	position: absolute;*/
	width: 100% !important; 
/*	height: 100px; Désactivé le 11/09/2018*/
	background-color: #B7D666 !important;
	overflow: hiden;
/*	bottom: 0px;*/
	margin-left: 0px;/*-8*/
}
.container-info-entreprise-info-footer {
	position: fixed;
	width: 100% !important; 
	height: 15px;
	background-color: #B7D666 !important;
	overflow: hiden;
	bottom: 0px;
	margin-left: -18px;/*-8*/
}
/*
.adresse {
	display: block;
	font-size:0.8rem;
	text-align: center;
	margin-top: 10px;
}
*/
.entete {
	font-size:3em;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 5px;
}
.contact {
	display: block;
	font-size:0.8rem;
	text-align: center;
	margin-top: 5px;/*5*/
}
.info-entreprise-nom {
	font-size:1rem;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 0px;/*20*/
	padding-top:10px;
}
/*
.info-entreprise-titre-nom {
	position: relative;
	font-size:0.65rem;
	font-weight: bold;
	display: block;
	*margin-left: 18%;
	margin-right: 5px;
	margin-top: 32px;
	bottom: 10px;
	display: inline;
	float: left;
}
*/
.ligne-info-entreprise {
/*	display: block; Désactivé le 11/09/2018*/
	font-size:0.70rem;/*65*/
	text-align: center;
	margin-top: 20px;
}
.info-message {
	width:80%;
	text-align: left;
	margin-left:90px;	
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header {
    border-bottom: 3px solid #4a4a4a;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .8em .4em .4em 1em;
    position: relative;
    border: 0;
}
.ui-widget-header {
    border: 1px solid #4a4a4a;
    background: #B7D666;
    color: #fff;
    font-weight: bold;
}
.j_code-client, .j_cle-fournisseur {
	width:80% ! important; 
	text-align: center;
	*margin-top: 10px; 
	*margin-bottom: 10px; 
	background: #e3e9fa;
}
.siret {
width:10%;
text-align: center;
}
.logo {
width: 20px;
height: 20px;
align: center;
}
.visuel {
width:3%;
text-align: center;
}
.cp{
width:4%;
}
.ville{
width:8%;
}
.pays{
width:4%;
}
.liaison{
width:3%;
text-align: center;
}
/*
.info-entreprise-titre {
	position: relative;
	font-size:0.65rem;
	font-weight: bold;
	display: block;
	margin-right: 5px;
	margin-top: 32px;
	bottom: 10px;
	display: inline;
	float: left;
}
.info-entreprise {
	position: relative;
	font-size:0.65rem;
	margin-right: 5px;
	margin-top: 21px;
	display: inline;
	float: left;	
}
.ui-g-12 {
    float: left;
    box-sizing: border-box;
    .padding: .05em;
}
*/
*/_______________________________ */
*/ Page footer */

.wrapper #main-wrapper .footer {
	position: fixed;
    border-top: 1.5px solid #d8d8d8;
    border-bottom: 1.5px solid #d8d8d8;
    width: 85%;
    height: 80px;
    bottom:0px;
    background-color: white;
}
.wrapper #main-wrapper .footer img {
	height:50px;
}

*/ MediaQueries */

@media (max-width: 480px){
.ui-widget {
font-size: 8px;}
.titre-picto {
	
	font-size: 0.8em;
	
}
.texte-tb-picto {
	
	font-size: 1em;
		
}
.texte-picto {
	
	font-size: 0.6em;	
}
.ui-g-8 {
    width: auto;
}
.style {
}

.bdg-img {
	position: relative;
	left: 10px;
}
.wrapper #main-wrapper .footer  {
     float: none;
    color: #4a4a4a;
     margin-right: 0px;
     position: relative;
    left: 0px;
	width: 100%;
	bottom: 10px;
}
.wrapper #main-wrapper .footer p {
   
    *margin: 30px 0 0 40px;
    *position: relative;
	right: 20px;
} 
.copyright {
	float: left;
}
.adresse, .cp, .ville, .pays{
display: none;
}
.fournisseur{
width:15%;
} 
}

@media(min-width:320px) and (max-width:768px){
.ui-widget {
font-size: 11px;}
.titre-picto {
	
	font-size: 0.8em;
	
}
.texte-tb-picto {
	
	font-size: 1em;
		
}
.texte-picto {
	
	font-size: 0.6em;
	
}
.ui-g-8 {
    width: auto;
}
.bdg-img {
	position: relative;
	left: 10px;
}
.wrapper #main-wrapper .footer  {
     float: none;
    color: #4a4a4a;
     margin-right: 0px;
     position: relative;
    left: 0px;
	width: 100%;
	bottom: 10px;
}
.wrapper #main-wrapper .footer p {
   
    *margin: 30px 0 0 40px;
    *position: relative;
	right: 20px;
} 
.copyright {
	float: left;
}
.adresse, .cp, .ville, .pays{
display: none;
}
.fournisseur{
width:15%;
}
}

@media(min-width:769px) and (max-width:991px){
.ui-widget {
font-size: 12px;}
.titre-picto {
	
	font-size: 1em;
	
}
.texte-tb-picto {
	
	font-size: 1.1em;
		
}
.texte-picto {
	
	font-size: 0.8em;
	
}
.info-texte {
	display: block;
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 1.6em ! important;
	text-align: center;
	margin-top: 10px;
}
.nomFrs {
	margin-top: 1.5em;
}
.bdg-img {
	position: relative;
	left: 10px;
}
.wrapper #main-wrapper .footer  {
     float: none;
    color: #4a4a4a;
     margin-right: 0px;
     position: relative;
    left: 0px;
	width: 100%;
	bottom: 10px;
}
.wrapper #main-wrapper .footer p {
   
    *margin: 30px 0 0 40px;
    *position: relative;
	right: 20px;
} 
.copyright {
	float: left;
}
.pays{
display: none;
}
.fournisseur{
width:15%;
}
}

@media(min-width:992px) and (max-width:1200px){
.ui-widget {
font-size: 14px;}

.titre-tb-picto {
	display:block;
	position: relative;
	font-family: 'PT Sans Regular', sans-serif ! important;
	color: #fff;
	font-size: 1.8em;
	top: 3em;
	margin: auto;
	margin-left: 1em;
}
.titre-picto {
	font-size: 1.6em;
}
.texte-tb-picto {
	
	font-size: 1.4em;
		
}
.texte-picto {
	
	font-size: 1.2em;	
}
.bdg-img {
	position: relative;
	left: 10px;
}
.wrapper #main-wrapper .footer  {
     float: none;
    color: #4a4a4a;
     margin-right: 0px;
     position: relative;
    left: 0px;
	width: 100%;
	bottom: 10px;
}
.wrapper #main-wrapper .footer p {
   
    *margin: 30px 0 0 40px;
    *position: relative;
	right: 20px;
} 
.copyright {
	float: left;
}
.adresse, .cp, .ville {
display: none;
}
.fournisseur{
width:15%;
}
}
 
@media(min-width:1201px) and (max-width:1920px){
.ui-widget {
font-size: 14px;}
}
.titre-tb-picto {	
	font-size: 1.8em;	
}
.texte-tb-picto {
	font-size: 1.4em;
}
.titre-picto {
	font-size: 1.6em;
}
.texte-picto {
	font-size: 1.2em;
}
.info-page {
	display: block;
	margin-top: 20px;
	font-family: 'PT Sans Regular', sans-serif ! important;
	font-weight: bold;
	color: #4a4a4a;
	font-size: 1.8em;
	text-align: center;
}
.info-texte {
	display: block;
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	margin-top: 10px;
}
.info-doc {
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	margin-left: 15px;
}  
.bdg-img {
	position: relative;
	left: 10px;
}
.wrapper #main-wrapper .footer  {
     float: none;
    color: #4a4a4a;
     margin-right: 0px;
     *position: absolute;
    left: 0px;
	width: 100%;
	bottom: 10px;
}
.wrapper #main-wrapper .footer p {
   
    *margin: 30px 0 0 40px;
    *position: relative;
	right: 20px;
} 
.copyright {
	float: left;
}
.fournisseur{
width:15%;
}
.mini-label {
	font-family: 'PT Sans Regular', sans-serif;
	color: #4a4a4a !important;
	font-size: 1em;
	text-align: left;
	margin-bottom: 10px;							
	*background: #fff!important;
}
.titre_form {
	font-family: 'PT Sans Regular', sans-serif;
	color: #818080 !important;
	text-align: center;
	padding: 0.2em;							
	background: #fff!important;
	
}
.titre_formulaire {
	font-family: 'PT Sans Regular', sans-serif;
	color: #818080 !important;
	font-size: 2.2em;
	text-align: center;
	padding: 0.2em;							
	*background: #fff!important;
	
}
.btn_creer {
	margin-bottom: 15%;
	width:100%;
	padding: .2em;
	color: #818080 !important;
	font-family: 'PT Sans Regular', sans-serif;					
	font-size: 2.2em;							
	background: #fff!important;
	border: none;
	cursor: pointer;
							
}
.btn_creer:hover {
	color: #fff!important;
	background: #ffd736!important;
}


