<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.legrain.facture.perspective.PerspectiveFacture"
            fixed="true"
            icon="icons/table.png"
            id="fr.legrain.perspertive.facture"
            name="Facture"/>
   </extension>
   <extension
         id="test.views"
         name="views"
         point="org.eclipse.ui.views">
      <view
            class="fr.legrain.facture.ecran.poubelle.SWTViewAdresseFacturation"
            icon="icons/book_open.png"
            id="fr.legrain.view.adresseFacturation.swt"
            name="Adresse de facturation"/>
      <view
            class="fr.legrain.facture.ecran.poubelle.SWTViewAdresseLivraison"
            icon="icons/lorry.png"
            id="fr.legrain.view.adresseLivraison.swt"
            name="Adresse de livraison"/>
      <view
            class="fr.legrain.facture.ecran.poubelle.SWTViewConditionPaiement"
            icon="icons/money.png"
            id="fr.legrain.view.conditionPaiement.swt"
            name="Condition de paiement"/>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="fr.legrain.perspertive.facture">
         <actionSet id="fr.legrain.perspective.facture.ext.actionSet"/>
         <viewShortcut id="fr.legrain.view.adresseFacturation.swt"/>
         <viewShortcut id="fr.legrain.view.adresseLivraison.swt"/>
      </perspectiveExtension>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="fr.legrain.view.tiers.actions"
            targetID="fr.legrain.view.tiers">
         <action
               class="fr.legrain.facture.actions.NouveauTiersAction"
               icon="icons/legrain.gif"
               id="fr.legrain.view.tiers.action.nouveau"
               label="Nouveau"
               style="push"
               toolbarPath="aa"
               tooltip="Nouveau"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.conditionPaiement.actions"
            targetID="fr.legrain.view.conditionPaiement">
         <action
               class="fr.legrain.facture.actions.ConditonPaiementFactureAction"
               icon="icons/legrain.gif"
               id="fr.legrain.facture.viewCondition.ConditionPaiementFactureAction"
               label="Autre condition de paiement"
               style="push"
               toolbarPath="c"
               tooltip="Autre condition de paiement"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.adresseFacturation.actions"
            targetID="fr.legrain.view.adresseFacturation">
         <action
               class="fr.legrain.facture.actions.AdresseFacturationAction"
               icon="icons/legrain.gif"
               id="fr.legrain.facture.viewAdresseFacturation.AdresseFacturationAction"
               label="Nouvelle Adresse"
               style="push"
               toolbarPath="c"
               tooltip="Nouvelle Adresse"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.adresseLivraison.actions"
            targetID="fr.legrain.view.adresseLivraison">
         <action
               class="fr.legrain.facture.actions.AdresseLivraisonAction"
               icon="icons/legrain.gif"
               id="fr.legrain.facture.viewAdresseLivraison.AdresseLivraisonAction"
               label="Nouvelle Adresse"
               style="push"
               toolbarPath="c"
               tooltip="Nouvelle Adresse"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.adresseFacturation.actions.swt"
            targetID="fr.legrain.view.adresseFacturation.swt">
         <action
               class="fr.legrain.facture.actions.SWTAdresseFacturationAction"
               icon="icons/book_open.png"
               id="fr.legrain.facture.swtViewAdresseFacturation.SWTAdresseFacturationAction"
               label="Nouvelle Adresse"
               style="push"
               toolbarPath="c"
               tooltip="Nouvelle Adresse"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.adresseLivraison.actions.swt"
            targetID="fr.legrain.view.adresseLivraison.swt">
         <action
               class="fr.legrain.facture.actions.SWTAdresseLivraisonAction"
               icon="icons/book_open.png"
               id="fr.legrain.facture.swtViewAdresseLivraison.SWTAdresseLivraisonAction"
               label="Nouvelle Adresse"
               style="push"
               toolbarPath="c"
               tooltip="Nouvelle Adresse"/>
      </viewContribution>
      <viewContribution
            id="fr.legrain.view.conditionPaiement.actions.swt"
            targetID="fr.legrain.view.conditionPaiement.swt">
         <action
               class="fr.legrain.facture.actions.SWTConditonPaiementFactureAction"
               icon="icons/money.png"
               id="fr.legrain.facture.swtViewCondition.SWTConditionPaiementFactureAction"
               label="Autre condition de paiement"
               style="push"
               toolbarPath="c"
               tooltip="Autre condition de paiement"/>
      </viewContribution>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.document.impression.handlers.HandlerImpressionFacture"
            description="Impression document"
            id="fr.legrain.document.impression.editor"
            name="Impression document">
      </command>
            
            
            
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:documents?after=separator.nouveau.document">
         <command
               commandId="fr.legrain.document.impression.editor"
               icon="icons/printer.png"
               id="fr.legrain.document.impression.editor"
               label="Impression document">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.document.impression.editor.EditorImpression"
            icon="icons/printer.png"
            id="fr.legrain.document.impression.editor"
            name="Impression document">
      </editor>
   </extension>

</plugin>
