<div class="layout-footer">
    <div class="p-grid">
        <div class="p-col-6">
            <a onclick="window.open('https://bdg.cloud')" class="logo-container">
                <img src="assets/layout/images/logo-bdg.png" alt="babylon-layout" />
            </a>
        </div>
        <div class="p-col-4 footer-icons">
            <a href="/">
                <i class="pi pi-home"></i>
            </a>
            <a (click)="handleClickUrl($event)">
                <i class="pi pi-globe"></i>
            </a>
<!--             <a (click)="handleClickEmail($event)"> -->
			<a href="mailto:{{email}}">
                <i class="pi pi-envelope"></i>
            </a>
        </div>
        <div class="p-col-2"></div>
    </div>
</div>
