<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.ajoutereditiondemo.handlers.HandlerAjouterEditionDemo"
            id="fr.legrain.ajouterEditionDemo"
            name="Edition personnelle Demo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:outils?after=fr.legrain.sauvegarde.sauvegarde">
         <command
               commandId="fr.legrain.ajouterEditionDemo"
               icon="icons/application_put.png"
               label="Edition personnelle Demo"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
