<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="GestionCommerciale.ImpressionTraite">
      <Edition
            ClassEdition="fr.legrain.traite.divers.EditionTraite">
      </Edition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.traite.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.legrain.document.preferences.DocumentPreferencePage"
            class="fr.legrain.traite.preferences.TraitePreferencePage"
            id="fr.legrain.traite.preferences.TraitePreferencePage"
            name="Gestion des Traites">
      </page>
   </extension>

</plugin>
