/* Add your customizations of theme here */


.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected {
	background: $highlightBgColor;
}


body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active {
	background: $highlightBgColor;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li a {
	color: $primaryButtonTextColor;
}

/*
body .ui-datatable .ui-datatable-data tr td {
	border-color:#e7e7e7;
}
*/

/* ************************************************************************************************* */
/*
.ui-tabs {
	&.ui-tabs-top {
		.ui-tabs-nav {
			&.ui-widget-header {
				.ui-state-default {
					&.ui-tabs-selected {
						background-color: $primaryButtonActiveBgColor;
					}
				}
			}
		}
	}
}
*/

/*
 .ui-tabs {
        padding: 0;
        
        &.ui-tabs-top,&.ui-tabs-bottom,&.ui-tabs-left,&.ui-tabs-right {
            border: 0 none;
            background: transparent;
            
            .ui-tabs-nav {
                padding: 0;
                border: 0 none;
                background: transparent;
                @include border-radius(0);
                
                li {
                    position: static;
                    @include border-radius(0);
                    margin: 0;
                    background: $contentBgColor;
                    border: 1px solid transparent;
                    
                    a {
                        padding: $headerPadding;
                        color: $textColor;
                        font-weight: normal;
                        
                        &:focus {
                            outline: 0 none;
                        }
                    }
                    
                    &.ui-state-hover {
                        background-color: $headerBgColor;
                    }
                    
                    &.ui-tabs-outline {
                        outline: 0 none;
                        background-color: $headerBgColor;
                    }
                    
                    &.ui-state-active {
                        border: 1px solid $headerBorderColor;
                        background-color: $contentBgColor;

                    }
                    
                    .ui-icon-close {
                        color: $primaryColor;
                        margin-top: 14px;
                    }
                }
            }
            
            .ui-tabs-panel {
                background-color: $contentBgColor;
            }
	}
}
*/
