<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.legrain.statistiques.editorPageTableauDeBord">
      <editor
            editorClass="fr.legrain.statistiques.acompte.ecrans.PaFormPageAcompte"
            editorController="fr.legrain.statistiques.acompte.controllers.FormPageControllerAcompte"
            editorIcon="icons/money.png"
            editorLabel="Acompte">
      </editor>
   </extension>

</plugin>
