<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.licencebdg.editors.licenceBDGMultiPageEditor"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.licenceBdg.multi"
            name="Licence BDG">
      </editor>
   </extension>
   <extension
         point="GestionCommerciale.SupportAbonnement">
      <Editeur
            classCTablItem="fr.legrain.licencebdg.controllers.CTabItemBDG"
            classController="fr.legrain.licenceepicea.controllers.SWTPaEpiceaController"
            classEditor="fr.legrain.licencebdg.editors.licenceBDGMultiPageEditor"
            classSupport="fr.legrain.licenceBdg.dao.TaLicenceBdg"
            classVue="fr.legrain.licenceepicea.ecrans.PaEpiceaSWT"
            nameSupport="2">
      </Editeur>
   </extension>

</plugin>
