<a [routerLink]="['/catalogue']" routerLinkActive="active">
    <div>&lt;&lt; Catalogue</div>
</a>

<div style="width: 90%;margin: auto;">
<p>
  <img src="../assets/images/boutique/panier.svg" style="height: 38px; width: 38px; vertical-align: middle;"/>
  <span style="font-style: normal; font-size: xx-large; vertical-align: middle; margin-left: 10px;">Votre panier</span>
</p>

<!--
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.libelleCatalogueCatWeb }}</span>
  <span>{{ item.prixttcPrix | currency }}</span>
</div>
-->

<p-table [value]="panier.lignes">
  <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center; width: 35%;">Article</th>
        <th style="text-align: center; width: 15%;">Prix unitaire</th>
        <th style="text-align: center; width: 15%;">Quantité</th>
        <th style="text-align: center; width: 15%;">Montant HT</th>
        <th style="text-align: center; width: 15%;">Montant TTC</th>
        <th style="text-align: center; width: 15%;">Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
      <tr>
          <td>
            <div style="display: flex; align-items: center;">
              <app-article-image-defaut [idArticle]='item.idArticle' hauteur="31px" largeur="44px"></app-article-image-defaut>
              <a [routerLink]="['/fiche-produit/'+item.idArticle]" routerLinkActive="active">
                <div class="product-name">{{item.libLDocument}}</div>
              </a>
          </div>
          </td>
          <td style="text-align: center;">{{item.prixULDocument}} €</td>
          <td style="text-align: center;">
            <p-inputNumber [(ngModel)]="item.qteLDocument" [showButtons]="true" [min]="1" [max]="10" (onInput)="actModifQte($event,item)" size="5">
            </p-inputNumber>
          </td>
          <td style="text-align: center;">{{item.mtHtLDocument}} €</td>
          <td style="text-align: center;">{{item.mtTtcLDocument}} €</td>
          <td style="text-align: center;">
            <p-button icon="pi pi-trash" label="Supprimer" (click)="actSupprimerLigne(item)"></p-button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align: right; display: flex;">
        <table style="width: 25%; margin-left: auto; text-align: center;">
             <tr style="background: #2196F3; color: white; height: 40px;">
                <td>Montant HT </td>
                <td>Montant TVA </td>
                <td>Montant TTC </td>
                
            </tr>  
            <tr style="height: 40px; font-size: large">
                <td>{{panier.netHtCalc}} €</td>
                <td>{{panier.netTvaCalc}} € </td>
                <td style="background: #D3EAFC;">{{panier.netTtcCalc}} € </td>
            </tr>  
  
        </table>
    </div>
</ng-template>
</p-table>

<div style="display: flex;">
  <p-button style="margin-left: auto;" icon="pi pi-check" label="Passer la commande" (click)="actPasserCommande()" [disabled]="panier.lignes==null || panier.lignes.length==0 || loading" ></p-button>
</div>

<!--
<a [routerLink]="['/validation-panier']" routerLinkActive="active">
  <div>Passer la commande</div>
</a>
-->
</div>