<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.legrain.gestionCommerciale.aide.champsRecherche"
            contextId="fr.legrain.librairiesEcran.contextAide"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F1"/>
      <key
            commandId="fr.legrain.gestionCommerciale.aide.nouveau"
            contextId="fr.legrain.librairiesEcran.contextAide"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F6"/>
      <key
            commandId="fr.legrain.gestionCommerciale.aide.annuler"
            contextId="fr.legrain.librairiesEcran.contextAide"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="ESC"/>
      <key
            commandId="fr.legrain.gestionCommerciale.aide.ok"
            contextId="fr.legrain.librairiesEcran.contextAide"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="ENTER">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.aide.valider"
            contextId="fr.legrain.librairiesEcran.contextAide"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F3">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.rechercher"
            contextId="fr.legrain.librairiesEcran.contextVisualisation"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F3">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.reinitialiser"
            contextId="fr.legrain.librairiesEcran.contextVisualisation"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F5">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.reinitialiser.global"
            contextId="fr.legrain.librairiesEcran.contextVisualisation"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+F5">
      </key>
      <key
            commandId="fr.legrain.gestionCommerciale.extraction"
            contextId="fr.legrain.librairiesEcran.contextVisualisation"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="F12">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Change champs recherche"
            id="fr.legrain.gestionCommerciale.aide.champsRecherche"
            name="Change champs recherche"/>
      <command
            description="Annuler aide"
            id="fr.legrain.gestionCommerciale.aide.annuler"
            name="Annuler aide"/>
      <command
            description="Nouveau"
            id="fr.legrain.gestionCommerciale.aide.nouveau"
            name="Nouveau"/>
      <command
            description="OK"
            id="fr.legrain.gestionCommerciale.aide.ok"
            name="OK">
      </command>
      <command
            description="Valider"
            id="fr.legrain.gestionCommerciale.aide.valider"
            name="Valider">
      </command>
      <command
            description="Rechercher"
            id="fr.legrain.gestionCommerciale.rechercher"
            name="Rechercher">
      </command>
      <command
            description="Réinitialiser"
            id="fr.legrain.gestionCommerciale.reinitialiser"
            name="Réinitialiser">
      </command>
      <command
            description="Réinitialiser tout"
            id="fr.legrain.gestionCommerciale.reinitialiser.global"
            name="Réinitialiser tout">
      </command>
      <command
            description="Extraction"
            id="fr.legrain.gestionCommerciale.extraction"
            name="Extraction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.gestCom.librairiesEcran.editor.EditorAide"
            icon="icons/help.png"
            id="fr.legrain.gestCom.librairiesEcran.editor.EditorAide"
            name="Aide">
      </editor>
      <editor
            class="fr.legrain.gestCom.librairiesEcran.editor.EditorSelectionVisualisation"
            icon="icons/magnifier.png"
            id="fr.legrain.gestCom.librairiesEcran.editor.EditorSelectionVisualisation"
            name="Sélection">
      </editor>
      <editor
            class="fr.legrain.gestCom.librairiesEcran.editor.EditorBrowser"
            icon="icons/world.png"
            id="fr.legrain.gestCom.librairiesEcran.editor.EditorBrowser"
            name="Browser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="fr.legrain.librairiesEcran.contextAide"
            name="contextAide"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
      <!--
      <context
            id="fr.legrain.librairiesEcran.contextVisualisation"
            name="contextVisualisation"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.legrain.gestionCommerciale.preferences.GestionCommercialePreferenceGeneralesPage"
            class="fr.legrain.gestCom.librairiesEcran.preferences.LibrairieEcranPreferencePage"
            id="fr.legrain.gestCom.librairiesecran.preferences.LibrairieEcranPreferencePage"
            name="Options d&apos;interface">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.gestCom.librairiesEcran.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
