/* FONT-FACE*/
@font-face {
  font-family: 'open_sansbold';
  src: url("#{resource['fonts:opensans-bold-webfont.eot']}");
  src: url("#{resource['fonts:opensans-bold-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['fonts:fonts/opensans-bold-webfont.woff2']}") format('woff2'), url("#{resource['fonts:fonts/opensans-bold-webfont.woff']}") format('woff'), url("#{resource['fonts:fonts/opensans-bold-webfont.ttf']}") format('truetype'), url("#{resource['fonts:fonts/opensans-bold-webfont.svg']}#open_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("#{resource['fonts:fonts/opensans-light-webfont.eot']}");
  src: url("#{resource['fonts:fonts/opensans-light-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['fonts:fonts/opensans-light-webfont.woff2']}") format('woff2'), url("#{resource['fonts:fonts/opensans-light-webfont.woff']}") format('woff'), url("#{resource['fonts:fonts/opensans-light-webfont.ttf']}") format('truetype'), url("#{resource['fonts:fonts/opensans-light-webfont.svg']}#open_sanslight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("#{resource['fonts:fonts/opensans-regular-webfont.eot']}");
  src: url("#{resource['fonts:fonts/opensans-regular-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['fonts:fonts/opensans-regular-webfont.woff2']}") format('woff2'), url("#{resource['fonts:fonts/opensans-regular-webfont.woff']}") format('woff'), url("#{resource['fonts:fonts/opensans-regular-webfont.ttf']}") format('truetype'), url("#{resource['fonts:fonts/opensans-regular-webfont.svg']}#open_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("#{resource['fonts:fonts/opensans-semibold-webfont.eot']}");
  src: url("#{resource['fonts:fonts/opensans-semibold-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['fonts:fonts/opensans-semibold-webfont.woff2']}") format('woff2'), url("#{resource['fonts:fonts/opensans-semibold-webfont.woff']}") format('woff'), url("#{resource['fonts:fonts/opensans-semibold-webfont.ttf']}") format('truetype'), url("#{resource['fonts:fonts/opensans-semibold-webfont.svg']}#open_sanssemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
.FontVoltBold {
  font-family: 'open_sansbold', 'Verdana';
}
.FontVoltSemiBold {
  font-family: 'open_sanssemibold', 'Verdana';
}
.FontVoltRegular {
  font-family: 'open_sansregular', 'Verdana';
}
.FontVoltLight {
  font-family: 'open_sanslight', 'Verdana';
}

#landing-page-wrapper #landing-slogan {
    background-image: url("#{resource['images/bureau-de-gestion.jpg']}");
    height: 493px;
}

.weather-box .weather-box-inner {
    background-image: url("#{resource['images/bureau-de-gestion.jpg']}");
 }
    
#landing-page-wrapper #landing-slogan-2 {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-image: url("#{resource['images/entete-bdg-cloud.jpg']}");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 172px;
    width: 100%;
    text-align: center;
    color: #f0f0f0; }
    #landing-page-wrapper #landing-slogan-2 .slogan-container {
      padding-top: 12%; }
    #landing-page-wrapper #landing-slogan-2 h1 {
      margin: 0;
      font-size: 42px; }
    #landing-page-wrapper #landing-slogan-2 p {
      line-height: 1.5; }
@media (max-width: 1440px) {
  #landing-page-wrapper #landing-slogan-2 {
    height: 500px; }}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .weather-box-2 {
    height: 173px; } }
    
@media (max-width: 1024px) and (min-width: 641px) {
  #landing-page-wrapper #landing-slogan-2 {
    height: 400px; }
    #landing-page-wrapper #landing-slogan-2 #landingButton {
      width: 26%; }
}

  #landing-page-wrapper #landing-slogan-2 h1 {
    font-size: 36px; }
  #landing-page-wrapper #landing-slogan-2 p {
    font-size: 14px; }
  #landing-page-wrapper #landing-slogan-2 #landingButton {
    width: 38%; }    

.weather-box-2 {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 50%;
  box-sizing: border-box; }
 .weather-box-2 i {
    font-size: 110px;
    margin-top: 15px;
    color: #e88524; }
    .weather-box-2 i.green {
      color: #1A8950; }
  .weather-box-2 .weather-box-inner-2 {
    width: 50%;
    float: right;
    height: 100%;
    margin-top: 1px;
    background-image: url("#{resource['images/entete-bdg-cloud.jpg']}");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover; }
    .weather-box-2 .weather-box-inner-2 .city-2 {
      float: left;
      text-align: left;
      padding: 35px 0 0 10px; }
      .weather-box-2 .weather-box-inner-2 .city-2 p:first-child {
        font-weight: bolder; }
      .weather-box-2 .weather-box-inner-2 .city-2 p {
        margin: 0; }
    .weather-box-2 .weather-box-inner-2 .weather-2 {
      float: right;
      text-align: right;
      margin: 0;
      padding: 30px 10px 0 0; }
      .weather-box-2 .weather-box-inner-2 .weather-2 h2, .weather-box-2 .weather-box-inner-2 .weather-2 h4 {
        margin: 0; }
  
  
   
  #landing-page-wrapper #landing-top-bar {
    height: 90px;
 }
    #landing-page-wrapper #landing-top-bar .landing-logo {
      padding: 10px 0; }
      
      #landing-page-wrapper #landing-top-bar .landing-nav-bar {
      
      padding: 20px 30px; }
 
 #landing-page-wrapper #landing-feature {
    padding: 10px 0;
}
      
@media (max-width: 1024px) and (min-width: 641px) {
  #landing-page-wrapper .landing-container {
    width: 100%; }
  #landing-page-wrapper #landing-top-bar {
    height: 90px; } }

/*.p-45j{
	background-color: #da5596; 
	color: white;
	 width:	190px; 
	 height: 30px; 
	 vertical-align:bottom;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
*/
#landing-page-wrapper #landing-feature p.p-45j{
	/*background-color: #da5596;*/ 
	 color: #d95595;
	 width:	100%; 
	 height: 30px;
	 text-align:center;
	 margin:0px; 
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 font-size: 17px;
	 font-weight: bold;
	 font-family: 'PT_Sans', sans-serif;
	 
}

#landing-page-wrapper #landing-feature h2 {
	color:#5c5b5e;
	font-weight: normal;
	background-color: #e8e8e8;
}
.ui-button.ui-state-default {
    background: #9ec103;
    height: 45px;
	width: 240px;
}

.div-annonce{
    margin-top: 35px;
}

#createdossierButton {
  width: 23%;
  padding: 5px;
  background: #9ec103;
  border-color: #212121;
  font-weight: bold; }

#createdossierButton:hover {
  background: #212121; }

#landing-page-wrapper #landing-promotion #createdossierButton {
  width: 48%; }

#landing-page-wrapper #landing-promotion img.img-2 {
      width:auto;
       }
  
#landing-page-wrapper #landing-feature h2.h2-fonc {
    color: #757575;
    font-weight: normal;
    margin: 0px;}

#landing-page-wrapper #landing-feature-2 {
    padding: 100px 0; }
    #landing-page-wrapper #landing-feature-2 h2 {
      /*color: #757575;*/
      color: black;
      font-weight: normal;
      background-color: #e8e8e8; }
    #landing-page-wrapper #landing-feature-2 p {
      color: #757575; }
    #landing-page-wrapper #landing-feature-2 .fa-feature {
      font-size: 80px;
      color: #f6bb4e; }
    #landing-page-wrapper #landing-feature-2 .fa-feature:hover {
      background: #f6bb4e;
      border-radius: 100%;
      color: #fff;
      transition: all 0.6s ease-in; }
  #landing-page-wrapper #landing-feature-2 {
    padding: 75px 0; }
#landing-page-wrapper #landing-feature-2 h2.h2-fonc {
    color: black;
    font-weight: normal;
    margin: 0px;
    background-color :transparent;}

#landing-page-wrapper #landing-promotion h2.h2-fonc {
    color: #757575;
    margin: 0px;
    font-weight:bolder;
    font-color:black;
    font-size :24px;}
    
#landing-page-wrapper #landing-promotion #screenLanding2,
#landing-page-wrapper #landing-promotion #screenLanding3,
#landing-page-wrapper #landing-promotion #screenLanding4,
#landing-page-wrapper #landing-promotion #screenLanding5,
#landing-page-wrapper #landing-promotion #screenLanding6,
#landing-page-wrapper #landing-promotion #screenLanding7,
#landing-page-wrapper #landing-promotion #screenLanding8 {
      display: none; }

#landing-page-wrapper #landing-promotion #screenLanding2,
#landing-page-wrapper #landing-promotion #screenLanding3,
#landing-page-wrapper #landing-promotion #screenLanding4,
#landing-page-wrapper #landing-promotion #screenLanding5,
#landing-page-wrapper #landing-promotion #screenLanding6,
#landing-page-wrapper #landing-promotion #screenLanding7,
#landing-page-wrapper #landing-promotion #screenLanding8 {
      display: block;
      position: inherit;
      width: 200px;
      margin: 0 auto;
      float: none; }

.ui-button.ui-state-default.btnessayer {
width: 85px;
padding: 5px;
background: #9ec103;
border-color: #212121;
font-weight: bold;
border: none;
border-bottom: 5px solid #7FA128; }

.ui-button.ui-state-default.btnessayer:hover {
  background: #7FA128; }
.center {
	text-aling:center;
}

#landing-page-wrapper #landing-promotion-rose {
    position: relative;
    color: #f98de8;
    height: 600px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(114deg, #b7d666 0%, #9fc53d 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #b7d666), color-stop(100%, #9fc53d));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(114deg, #b7d666 0%, #9fc53d 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(114deg, #b7d666 0%, #9fc53d 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(114deg, #b7d666 0%, #9fc53d 100%);
    /* ie10+ */
    background: linear-gradient(114deg, #b7d666 0%, #9fc53d 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d666', endColorstr='#9fc53d',GradientType=1 );
    /* ie6-9 */ }
    #landing-page-wrapper #landing-promotion-rose img {
      position: absolute;
      top: 50px;
      right: 0;
      float: right;
      height: auto;
      max-width: 670px;
      width: 100%; }
    #landing-page-wrapper #landing-promotion-rose .vertical-align-helper {
      height: 125px; }
    #landing-page-wrapper #landing-promotion-rose #screenLanding {
      display: none; }
      
/* ======================
	Hover
	===================== */

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}      