
#bandeau-bdg-fin {
	height: 50px;
	/*background: #B7D666;*/
	text-align: left;
	position: relative;
	background:#B7D666 url("#{resource['images/bdg-75x48.png']}") no-repeat left top !important;
}

#bandeau-bdg-large {
	height: 250px;
	/*background: #B7D666;*/
	text-align: center;
	position: relative;
	background: url("#{resource['images/vague-bdg.jpg']}") no-repeat left top !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.ui-widget-content {
	border: none;	
}

.centrer {
	text-align: center;
}

.right {
	text-align: right;
}
.left {
	text-align: left;
}

.fond-gris{
	background-color: #969495;
}

.panier tr.ui-widget-content, .panier80 tr.ui-widget-content, .panier90 tr.ui-widget-content {
	background: #def3bb;
}

.panier.panier-gris tr.ui-widget-content, .panier80.panier-gris tr.ui-widget-content, .panier90.panier-gris tr.ui-widget-content {
	background: #D8D8D8;
}

.ui-panelgrid.panier80 {
	/*margin:auto;*/
	margin-left: auto;
	margin-right: auto; 
	width:80%
}

.ui-panelgrid.panier90 {
	/*margin:auto;*/
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 10px;
	/*height: 100%;*/
	width:90%
}

.ui-panelgrid.large100 {
	/*margin:auto;*/
	/*margin-left: auto;
	margin-right: auto;*/ 
	width:100%
}

.block-total-panier {
	margin: auto; 
	width: 80%; 
	text-align: center; 
	font-weight: bold;
}
.block-total-panier-entete {
	background: #B7D666;
}
.block-total-panier-total {
	background: #D8D8D8;
}
.panier-bandeau-titre {
	background: #9A9A9A; 
	text-align: center; 
	color: white; 
	margin-top: 20px; 
	height: 30px; 
	line-height: 30px;
}