<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="Articles.editorPageArticles">
      <editor
            editorClass="fr.legrain.articles.statistiques.editors.FormEditorStatistiquesArticles"
            editorIcon="icons/chart_bar.png"
            editorLabel="Statistiques">
      </editor>
   </extension>

</plugin>
