<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="editorPageArticles" name="MultipageEditor page" schema="schema/editorPageArticles.exsd"/>
   <extension-point id="editorEcranArticles" name="Extension ecran article" schema="schema/editorEcranArticles.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Articles"
            visible="true"
            id="Articles.actionSet">
         <menu
               id="Articles"
               label="Articles"
               path="/">
            <separator
                  name="ArticlesGroup">
            </separator>
            <separator name="ARTICLES.separator2"/>
         </menu>
         <action
               class="fr.legrain.articles.actions.TestArticleJPA"
               id="ARTICLES.action1"
               label="Articles JPA">
         </action>
         <action
               class="fr.legrain.articles.actions.TestUniteJPA"
               id="ARTICLES.action1"
               label="Unité JPA">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="P"
            id="fr.legrain.gestionCommerciale.articles.prix"
            name="Prix"/>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerArticle"
            description="a"
            id="fr.legrain.articles.editor.article"
            name="Article">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerFamille"
            description="f"
            id="fr.legrain.articles.editor.famille"
            name="Famille">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerTva"
            description="t"
            id="fr.legrain.articles.editor.tva"
            name="Tva">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerUnite"
            description="u"
            id="fr.legrain.articles.editor.unite"
            name="Unite">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerFamilleUnite"
            description="f"
            id="fr.legrain.articles.editor.familleUnite"
            name="Famille d&apos;unité">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerRapportUnite"
            description="f"
            id="fr.legrain.articles.editor.EditorRapportUnite"
            name="Rapport entre unités">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerTypeNoteArticle"
            id="fr.legrain.articles.editor.type.noteArticle"
            name="Type Note">
      </command>
      <command
            description="d"
            id="fr.legrain.gestionCommerciale.articles.dupliquer"
            name="Dupliquer l&apos;article">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.article.image"
            name="Selection image article">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerCategorieArticle"
            id="fr.legrain.categorie.article"
            name="Categorie article">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerLabelArticle"
            id="fr.legrain.label.article"
            name="Label article">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.article.ajouter.cibleprix"
            name="Ajouter cible prix">
      </command>
      <command
            id="fr.legrain.gestionCommerciale.article.supprimer.cibleprix"
            name="Supprimer cible prix">
      </command>
      <command
            description="R"
            id="fr.legrain.gestionCommerciale.articles.recalculerPrix"
            name="Recalculer tous les articles">
      </command>
      <command
            defaultHandler="fr.legrain.articles.handlers.HandlerMAJTva"
            description="Mise à jour des codes tva"
            id="fr.legrain.articles.editor.EditorMajCodeTva"
            name="Mise_a_jour_tva">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.legrain.gestionCommerciale.articles.prix"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="M3+P"/>
      <key
            commandId="fr.legrain.articles.editor.article"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="fr.legrain.scheme.gestionCommerciale"
            sequence="CTRL+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.articles.editor.EditorArticle"
            icon="icons/package.png"
            id="fr.legrain.articles.editor.EditorArticle"
            name="Article">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorFamille"
            icon="icons/bricks.png"
            id="fr.legrain.articles.editor.EditorFamille"
            name="Famille">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTva"
            icon="icons/Tva..png"
            id="fr.legrain.articles.editor.EditorTva"
            name="Tva">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorUnite"
            icon="icons/unites2.png"
            id="fr.legrain.articles.editor.EditorUnite"
            name="Unite">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorPrix"
            icon="icons/money.png"
            id="fr.legrain.articles.editor.EditorPrix"
            name="Prix">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTypeTVA"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.articles.editor.EditorTypeTVA"
            name="Type TVA">
      </editor>
      <editor
            class="fr.legrain.articles.editor.ArticleMultiPageEditor"
            icon="icons/package.png"
            id="fr.legrain.editor.article.multi"
            name="Article Multi">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorCommentairesArticle"
            icon="icons/note.png"
            id="fr.legrain.articles.editor.EditorCommentairesArticle"
            name="Commentaire">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorFamilleUnite"
            icon="icons/bricks.png"
            id="fr.legrain.articles.editor.EditorFamilleUnite"
            name="Famille d&apos;unité">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorRapportUnite"
            icon="icons/unites2.png"
            id="fr.legrain.articles.editor.EditorRapportUnite"
            name="Rapport entre unités">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTypeNoteArticle"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.tiers.editor.EditorTypeNoteArticle"
            name="Type Note">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorImageArticle"
            default="false"
            icon="icons/pictures.png"
            id="fr.legrain.articles.editor.EditorImageArticle"
            name="Images">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTypeCategorieArticle"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.articles.editor.EditorTypeCategorieArticle"
            name="Type Catégorie">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorCatalogueWeb"
            default="false"
            icon="icons/application_view_gallery.png"
            id="fr.legrain.articles.editor.EditorCatalogueWeb"
            name="Catalogue Web">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorCategorieArticle"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.articles.editor.EditorCategorieArticle"
            name="Catégorie">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTypeLabelArticle"
            default="false"
            icon="icons/tag_green.png"
            id="fr.legrain.articles.editor.EditorTypeLabelArticle"
            name="Type Label">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorLabelArticle"
            default="false"
            icon="icons/tag_green.png"
            id="fr.legrain.articles.editor.EditorLabelArticle"
            name="Label">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorConditionnementArticle"
            default="false"
            icon="icons/box.png"
            id="fr.legrain.articles.editor.EditorConditionnementArticle"
            name="Conditionnement">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorTypeConditionnement"
            default="false"
            icon="icons/box.png"
            id="fr.legrain.articles.editor.EditorTypeConditionnement"
            name="Type de conditionnement">
      </editor>
      <editor
            class="fr.legrain.articles.editor.EditorMajCodeTva"
            default="false"
            icon="icons/logo_lgr_16.png"
            id="fr.legrain.articles.editor.EditorMajCodeTva"
            name="Mise à jour des codes tva">
      </editor>      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.legrain.articles.handlers.HandlerArticle"
            commandId="fr.legrain.gestionCommerciale.inserer">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="AAAATestOnglets.editor.article">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.articles.ecran.SWTPaArticlesController$HandlerSupprimerArticle"
            commandId="fr.legrain.gestionCommerciale.supprimer">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="AAAATestOnglets.editor.article">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.articles.ecran.SWTPaArticlesController$HandlerEnregistrerArticle"
            commandId="fr.legrain.gestionCommerciale.enregsitrer">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="AAAATestOnglets.editor.article">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="fr.legrain.articles.ecran.SWTPaArticlesController$HandlerAnnulerArticle"
            commandId="fr.legrain.gestionCommerciale.annuler">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="AAAATestOnglets.editor.article">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:Articles">
         <command
               commandId="fr.legrain.articles.editor.article"
               icon="icons/package.png"
               label="Article">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:toolbar.articles">
         <command
               commandId="fr.legrain.articles.editor.article"
               icon="icons/package.png"
               label="Article">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:types">
         <menu
               id="param.articles"
               label="Articles">
         </menu>
         <separator
               name="ARTICLES.separator3"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:param.articles">
         <command
               commandId="fr.legrain.articles.editor.unite"
               icon="icons/unites2.png"
               label="Unite">
         </command>
         <command
               commandId="fr.legrain.articles.editor.tva"
               icon="icons/Tva..png"
               label="Tva">
         </command>
         <command
               commandId="fr.legrain.articles.editor.famille"
               icon="icons/bricks.png"
               label="Famille">
         </command>
         <command
               commandId="fr.legrain.articles.editor.familleUnite"
               icon="icons/bricks.png"
               label="Famille d&apos;unité">
         </command>
         <command
               commandId="fr.legrain.articles.editor.type.noteArticle"
               icon="icons/logo_lgr_16.png"
               label="Type Note"
               style="push">
         </command>
         <command
               commandId="fr.legrain.categorie.article"
               icon="icons/logo_lgr_16.png"
               label="Catégorie"
               style="push">
         </command>
         <command
               commandId="fr.legrain.label.article"
               icon="icons/logo_lgr_16.png"
               label="Label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.articles">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:outils">
         <command
               commandId="fr.legrain.articles.editor.EditorMajCodeTva"
               icon="icons/logo_lgr_16.png"
               label="Mise à jour des codes tva">
         </command>
         <separator
               name="miseAJourCodeTva.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.legrain.artilces.views.ListeTiersView">
         <command
               commandId="fr.legrain.gestionCommerciale.inserer"
               icon="icons/views/add.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.supprimer"
               icon="icons/views/delete.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.refresh"
               icon="icons/views/arrow_refresh.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.aide"
               icon="icons/views/find.png"
               style="push">
         </command>
         <command
               commandId="fr.legrain.gestionCommerciale.detail"
               icon="icons/views/magnifier.png"
               style="push">
         </command>
      </menuContribution>      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.legrain.articles.preferences.ArticlesPreferencePage"
            id="fr.legrain.articles.preferences.ArticlesPreferencePage"
            name="Articles">
      </page>
      <page
            category="fr.legrain.articles.preferences.ArticlesPreferencePage"
            class="fr.legrain.articles.preferences.ImagesArticlesPreferencePage"
            id="fr.legrain.articles.preferences.ImagesArticlesPreferencePage"
            name="Images">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.articles.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="articles.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Articles"
            name="Articles">
      </category>
      <view
            allowMultiple="false"
            category="Articles"
            class="fr.legrain.articles.views.ListeArticleView"
            icon="icons/package.png"
            id="fr.legrain.articles.views.ListeArticleView"
            name="Liste des articles"
            restorable="true">
      </view>
   </extension>
</plugin>
