<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.legrain.proforma.editor.ProformaMultiPageEditor"
            icon="icons/calculator_edit.png"
            id="fr.legrain.editor.proforma.swt.multi"
            name="Proforma">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.legrain.proforma.handlers.HandlerOuvreEditorProforma"
            description="Nouveau  Proforma"
            id="fr.legrain.proforma"
            name="Nouveau Proforma">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:documents?after=separator.facture">
         <command
               commandId="fr.legrain.proforma"
               icon="icons/calculator_edit.png"
               id="fr.legrain.proforma"
               label="Proforma">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.proforma">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:toolbar">
         <command
               commandId="fr.legrain.proforma"
               icon="icons/calculator_edit.png"
               label="Proforma">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.legrain.proforma.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.legrain.document.preferences.DocumentPreferencePage"
            class="fr.legrain.proforma.preferences.LgrProformaPreferencePage"
            id="fr.legrain.proforma.preferences.LgrProformaPreferencePage"
            name="Proforma">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="GestionCommerciale.introConfigId"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="GestionCommerciale.ImpressionDocument">
      <impressionDocument
            ClassImpressionDocument="fr.legrain.proforma.divers.Impression"
            TypeDoc="Proforma">
      </impressionDocument>
   </extension>
   <extension
         point="GestionCommerciale.Preferences">
      <Preferences
            ClassPreferences="fr.legrain.proforma.preferences.PreferencesStore">
      </Preferences>
   </extension>
</plugin>
